<?xml version="1.0"?>
<!-- $Id: config.xml,v 1.6 2004-10-23 23:12:23 adam Exp $ -->
<proxy xmlns="http://indexdata.dk/yazproxy/schema/0.8/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://indexdata.dk/yazproxy/schema/0.8/ yazproxy.xsd"
>
<!-- Config can be checked with xerces-c++: PParse -n -s config.xml -->
  <target name="localhost" default="1">
    <url>localhost:9999</url>
    <target-timeout>30</target-timeout>
    <client-timeout>60</client-timeout>
    <keepalive>
      <bandwidth>1000000</bandwidth>
      <pdu>1000</pdu>
    </keepalive>
    <limit><!-- per minute limits .. -->
      <bandwidth>2000000</bandwidth>
      <pdu>50</pdu>
      <retrieve>100</retrieve>
    </limit>
    <attribute type="1" value="1-11,13-1016"/>
    <attribute type="1" value="*" error="114"/>
    <syntax type="opac"/>
    <syntax type="usmarc"/>
    <syntax type="none"/>
    <syntax type="xml" marcxml="1"/>
    <syntax type="*" error="238"/>
    <preinit>0</preinit>
    <explain xmlns="http://explain.z3950.org/dtd/2.0/">
       <serverInfo>
       <host>localhost</host>
       <port>9000</port>
       <database>gils</database>
       </serverInfo>
    </explain>
    <cql2rpn>pqf.properties</cql2rpn>
    <authentication>adam/x</authentication>
  </target>
  <target name="*">
    <target-timeout>60</target-timeout>
    <client-timeout>30</client-timeout>
    <!-- everything else -->
  </target>
  <max-clients>50</max-clients>
  <log>client-requests server-requests</log>
</proxy>
