<?xml version="1.0"?>
<!-- $Id: config.xml,v 1.19 2006-04-06 16:25:20 adam Exp $ -->
<proxy xmlns="http://indexdata.dk/yazproxy/schema/0.9/"
 xmlns:xi="http://www.w3.org/2001/XInclude"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://indexdata.dk/yazproxy/schema/0.9/ yazproxy.xsd"
  >
<!-- Config can be checked with xerces-c++: PParse -n -s config.xml -->
  <target name="localhost" default="1">
    <url>localhost:9999</url>
    <target-timeout>30</target-timeout>
    <client-timeout>60</client-timeout>
    <target-authentication type="open">a/b</target-authentication>
    <keepalive>
      <bandwidth>1000000</bandwidth>
      <pdu>1000</pdu>
    </keepalive>
    <limit><!-- per minute limits .. -->
      <bandwidth>2000000</bandwidth>
      <pdu>60</pdu>
      <retrieve>100</retrieve>
      <search>3</search>
    </limit>
    <attribute type="1" value="1-11,13-1016"/>
    <attribute type="1" value="*" error="114"/>
    <syntax type="opac"/>
    <syntax type="usmarc" backendcharset="iso-8859-1"/>
    <syntax type="none"/>
    <syntax type="sutrs" backendcharset="iso-8859-1"/>
    <syntax type="xml">
      <name>b</name>
    </syntax>
    <syntax type="xml" marcxml="1" stylesheet="MARC21slim2SRWDC.xsl"
      identifier="info:srw/schema/1/dc-v1.1"
      >
      <title>Dublin Core</title>
      <name>dc</name>
    </syntax>
    <syntax type="*" error="238"/>
    <preinit>0</preinit>
    <xi:include href="explain.xml"/>
    <target-charset>iso-8859-1</target-charset>
    <cql2rpn>pqf.properties</cql2rpn>
  </target>
  <target name="*">
    <target-timeout>60</target-timeout>
    <client-timeout>30</client-timeout>
    <!-- everything else -->
  </target>
  <max-clients>30</max-clients>
  <max-connect>10</max-connect>
  <period-connect>10</period-connect>
  <limit-connect>5</limit-connect>
  <log>client-requests server-requests client-ip</log>
  <docpath>doc</docpath>
</proxy>
